html, body {
	height: 100%;
}

#wrapper-main {
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
	background: url(../img/workstation.jpg) no-repeat center center fixed;
	height: 100%;
	min-height: 100%;
	width: 100%;
	color: #666699;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}

#wrapper {
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
	color: #666699;
	background: url(../img/workstation.jpg) no-repeat center center fixed;
/*	background-color: #c9d2e0;*/
	height: 100%;
	min-height: 100%;
	width: 100%;
	overflow: auto;
}

#navbar {
	position: relative;
	height: 50px;
	width: 700px;
	left: 50%;
	transform: translate(-43%, 0%);
	margin: 0px 0px 50px 0px;
}

#namebox {
	text-align: center;
	height: 200px;
	width: 700px;
	padding: 10px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-53%, -50%);
}

#namebox h1 {
	font-size: 50px;
}

#namebox h3 {
	font-size: 25px;
}

#navbar li a {
	float: left;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #666699;
}

#navbar li a:hover {
	box-shadow: 0px 2px 2px #000000;
}

#navbar li a:visited {
	color: #666699;
}

#content {
	padding: 50px;
	margin: auto;
	width: 60%;
	min-height: 90%;
	background-color: #ffffff;
	color: #000000;
	overflow: auto;
}

#textbox {
	width: 100%;
}

#textbox h1 {
	font-size: 30px;
	font-weight: bold;
}

#resumebox {
	height: 100%;
	width: 100%;
}

p {
	font-size: 25px;
	line-height: 1.6;
}

embed {
	 width: 100%;
	 height: 100%;
}

#logobar {
	text-align: center;
}

.logos {
	padding: 20px;
}

#portfolio {
	position: relative;
	display: block;
	clear: both;
	width: 960px; 
	margin-top: 25px;
	margin: auto;
}

.portfoliobox {
	position: relative;
	top: 20px;
	display: inline-block;
	float: left;
	text-align: center;
	margin: 30px 30px;
	height: 300px;
	width: 400px;
	border: solid 2px #000000;
	border-radius: 25px;
	background-color: #000000;
}

.portfoliobox img {
	height: 300px;
	width: 400px;
	border: solid 2px #000000;
	border-radius: 25px;
}


.portfoliobox:hover {
	box-shadow: 0px 3px 3px #000000;
}

.portfoliobox p {
	font-size: 25px;
	padding: 20px;
	color: #ffffff;
}

@media only screen and (max-width: 950px) {
	#portfolio {
		width: 100%;
		max-width: 100%;
	}

	.portfoliobox {
		width: 90%;
		margin: auto;
	}

	.portfoliobox img {
		width: 100%;
	}
}